[Unit]
Description=DMARC report notifier
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
SyslogIdentifier=%N
ExecStart=/usr/bin/docker run --rm \
  --name '%N' \
  --log-opt 'tag=%N' \
  --env-file '/etc/dmarc-report-notifier.env' \
  'dmarc-report-notifier'
