{% macro icon(status) -%}
  {{ {"fail": "⛔", "none": "✅", "pass": "✅", "quarantine": "⛔", "reject": "⛔"}[status] | default(status) }}
{%- endmacro %}

{% macro section(summary_icon, status, records) %}
  {% if records %}
    {% set count = records | sum(attribute="count") %}
    <details>
      <summary>{{ summary_icon }} {{ count }} message{{ count | pluralize }} {{ status }}</summary>

      <table>
        <thead>
          <tr>
            <th>Count</th>
            <th>Sender</th>
            <th>SPF</th>
            <th>DKIM</th>
            <th>DMARC</th>
            <th>Reporter</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records | sort(reverse=true, attribute="count,source.ip_address,report_metadata.org_name") %}
            <tr>
              <td>{{ record.count }}</td>
              <td>
                IP: <code>{{ record.source.ip_address }}</code>
                {% if record.source.reverse_dns %}<br>rDNS: <code>{{ record.source.reverse_dns }}</code>{% endif %}
                {% if record.identifiers.envelope_from %}<br>Envelope: <code>{{ record.identifiers.envelope_from }}</code>{% endif %}
                {% if record.identifiers.header_from %}<br>Header: <code>{{ record.identifiers.header_from }}</code>{% endif %}
              </td>
              <td>
                {{ icon(record.policy_evaluated.spf) }}
                {% for r in record.auth_results.spf %}<br><code>{{ r.domain }}</code>: {{ r.result }}{% endfor %}
              </td>
              <td>
                {{ icon(record.policy_evaluated.dkim) }}
                {% for r in record.auth_results.dkim %}<br><code>{{ r.domain }}</code>: {{ r.result }}{% endfor %}
              </td>
              <td>{{ icon(record.policy_evaluated.disposition) }}</td>
              <td>{{ record.report_metadata.org_name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </details>
  {% endif %}
{% endmacro %}

{{ section("⛔", "failed", failed) }}
{{ section("⚠️", "passed with issues", passed_partially) }}
{{ section("✅", "passed", passed_fully) }}
