{% macro section(icon, status, records) -%}
  {%- if records -%}
    {%- set count = records | sum(attribute="count") -%}
    {{ icon }} {{ count }} message{{ count | pluralize }} {{ status }}
  {%- endif -%}
{%- endmacro -%}

{{ section("⛔", "blocked", blocked) }}
{{ section("⚠️", "allowed with failures", allowed_with_failures) }}
{{ section("✅", "allowed", allowed) }}
